<form>
  <div class="input-field">
    <input data-ng-model="search.$" id="search" type="search" required>
    <label for="search"><i class="mdi-action-search">Search a movie</i></label>
    <i class="mdi-navigation-close"></i>
  </div>
</form>

<table class="striped margin-top">
  <thead>
    <tr>
      <th data-field="poster">Poster</th>
      <th data-field="id">Rank & Title</th>
      <th data-field="name">Year</th>
      <th data-field="price">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="movie in movies | filter:search | orderBy:'place'">
        <td>
          <a href="#/movie/{{movie.imdbid}}"><img width="38px" height="56px" src="{{movie.poster}}"/></a>
        </td>
        <td><a style="color:#00acc1" href="#/movie/{{movie.imdbid}}">{{movie.place}}. {{movie.title}}</a></td>
        <td>{{movie.year}}</td>
        <td>{{movie.rating}}</td>
    </tr>
  </tbody>
</table>
