.margin-top {margin-top:40px;}
.poster {max-height:406px}
.card-title {font-size: 18px !important; color:#0288d1 !important}
.brand-logo {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
